<div #container>
  <div id="seccion1">
    <div>
      <h1><strong>Toluca la Bella</strong> el mejor lugar para promocionar tu negocio</h1>
      <h3><span>¡Anúnciate ahora!</span></h3>
    </div>
    <div>
      <img src="../../assets/imagenes/17.png" alt="cosmovitral luces nocturnas" />
    </div>
  </div>
  <hr />
  
  <div id="seccion2">
    <h3>¿Cómo funciona?</h3>
    <div id="seccion2DivB">
      <div id="crearPerfilDiv" [routerLink] = "['/registrate']" type="button">
        <div><img src="../../assets/imagenes/creaPerfil.jpg" alt="crea tu perfil" /></div>
        <p>Crea tu perfil</p>
      </div>
      <div>
        <div><img src="../../assets/imagenes/registraNegocio.jpg" alt="registra tu negocio" /></div>
        <p>Registra tu negocio</p>
      </div>
      <div>
        <div><img src="../../assets/imagenes/promociona.jpg" alt="promociona tus productos o servicios" /></div>
        <p>Promociona tus productos y/o servicios</p>
      </div>
      <div>
        <div><img src="../../assets/imagenes/interactua.jpg" alt="interactua con tus clientes" /></div>
        <p>Interactúa con tus clientes</p>
      </div>
    </div>
  </div>
  <app-marketing-digital id="marketing"></app-marketing-digital>
  <app-footer></app-footer>
</div>

<ng-template #modalcreatestore let-modal>
  <div class="modal-header text-center">
    <h4 class="modal-title ">{{tituloModal}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class=" container-fluid">
      <div class="row">
        <div class="col-md-12 col-lg-12">
          <p style="color: #3b2002">
            {{mensajeModal}}
          </p>
        </div>
      </div>
    </div>
  </div>
</ng-template>