<div #container>
  <div id="seccion1">
    <div>
      <h1><strong>Toluca la Bella</strong> el mejor lugar para promocionar tu negocio</h1>
      <h3><span>¡Anúnciate ahora!</span></h3>
    </div>
    <div>
      <img src="../../assets/imagenes/17.png" alt="cosmovitral luces nocturnas" />
    </div>
  </div>
  <hr />
  <div id="registrar">
    <form>
      <h2>Formulario de Registro</h2>
      <fieldset>
        <legend>Datos Generales</legend>
        <label for="nombreCliente"><a class="mandatoryPoint">*</a>Tu nombre</label>
        <input class="form-control" id="nombreCliente" name="nombreCliente" type="text" placeholder="Nombre"
          [(ngModel)]="nombreCliente" (input)="countChars($event)" maxlength="{{maxNombre}}">
        <p class="conteoCaracteres">{{conteoNombre}}/{{maxNombre}}</p>
        <p id="nombreClienteValidacion" class="mensajes"></p>

        <label for="telefonoMovil"><a class="mandatoryPoint">*</a>Teléfono móvil</label>
        <input class="form-control" id="telefonoMovil" name="telefonoMovil" type="text" placeholder="Teléfono móvil"
          [(ngModel)]="telefonoMovil">
        <p id="telefonoMovilValidacion" class="mensajes"></p>

        <label for="correo"><a class="mandatoryPoint">*</a>Correo electrónico</label>
        <input class="form-control" id="correo" type="text" name="correo" placeholder="Correo electrónico"
          [(ngModel)]="correo">
        <p id="correoValidacion" class="mensajes"></p>

        <label for="nombreNegocio"><a class="mandatoryPoint">*</a>Nombre comercial</label>
        <input class="form-control" id="nombreNegocio" name="nombreNegocio" type="text" placeholder="Nombre comercial"
          [(ngModel)]="nombreNegocio" (input)="countChars($event)" maxlength="{{maxNombreComercial}}">
        <p class="conteoCaracteres">{{conteoNombreComercial}}/{{maxNombreComercial}}</p>
        <p id="nombreNegocioValidacion" class="mensajes"></p>

        <label for="descripcionComercial"><a class="mandatoryPoint">*</a>Descripción comercial</label>
        <textarea class="form-control" id="descripcionComercial" name="descripcionComercial" type="text"
          placeholder="Descripción comercial" [(ngModel)]="descripcionComercial" (input)="countChars($event)"
          maxlength="{{maxDescripcionComercial}}"></textarea>
        <p class="conteoCaracteres">{{conteoDescripcionComercial}}/{{maxDescripcionComercial}}</p>
        <p id="descripcionComercialValidacion" class="mensajes"></p>
      </fieldset>

      <fieldset>
        <legend>Ubicación</legend>
        <label for="municipio"><a class="mandatoryPoint">*</a>Municipio</label>
        <select name="municipio" id="municipio" class="form-control" [(ngModel)]="municipioSelected"
          (ngModelChange)="municipioHasChanged($event)">
          <option *ngFor="let municipio of municipios" [ngValue]="municipio">{{municipio}}</option>
        </select>

        <label for="colonia"><a class="mandatoryPoint">*</a>Colonia</label>
        <select name="colonia" id="colonia" class="form-control" [(ngModel)]="coloniaSelected"
          (ngModelChange)="coloniaHasChanged($event)">
          <option *ngFor="let colonia of colonias" [ngValue]="colonia.colonia">{{colonia.colonia}}</option>
        </select>

        <label for="codigoPostal"><a class="mandatoryPoint">*</a>Código postal</label>
        <select name="codigoPostal" id="codigoPostal" class="form-control" [(ngModel)]="codigoPostalSelected">
          <option *ngFor="let item of colonia" [ngValue]="item.codigo_postal">{{item.codigo_postal}}</option>
        </select>

        <label for="calle"><a class="mandatoryPoint">*</a>Calle</label>
        <input class="form-control" id="calle" name="calle" type="text" placeholder="Calle" [(ngModel)]="calle"
          (input)="countChars($event)" maxlength="{{maxCalle}}">
        <p class="conteoCaracteres">{{conteoCalle}}/{{maxCalle}}</p>
        <p id="calleValidacion" class="mensajes"></p>

        <label for="numero"><a class="mandatoryPoint">*</a>Número exterior</label>
        <input class="form-control" id="numero" name="numero" type="text" placeholder="Número exterior"
          [(ngModel)]="numero" (input)="countChars($event)" maxlength="{{maxNumero}}">
        <p class="conteoCaracteres">{{conteoNumero}}/{{maxNumero}}</p>
        <p id="numeroValidacion" class="mensajes"></p>
      </fieldset>

      <fieldset id="categoriaFieldSet">
        <legend>Categoria</legend>
        <label for="categoria"><a class="mandatoryPoint">*</a>Categoria</label>

        <select name="categoria" id="categoria" class="form-control" [(ngModel)]="categoriaSelected"
          (ngModelChange)="categoriaHasChanged($event)">
          <ng-container *ngFor="let categoria of categorias">
            <option *ngIf="categoria.valid" [ngValue]="categoria">{{categoria.categoria}}</option>
          </ng-container>
        </select>

        <label for="subcategoria"><a class="mandatoryPoint">*</a>Subcategoria</label>
        <select name="subcategoria" id="subcategoria" class="form-control" [(ngModel)]="subcategoriaSelected">
          <ng-container *ngFor="let subcategoria of subcategorias">
            <option *ngIf="subcategoria.valid" [ngValue]="subcategoria">{{subcategoria.nombre}}</option>
          </ng-container>
        </select>
        <p id="subcategoriaValidacion" class="mensajes"></p>

      </fieldset>

      <fieldset id="imagesFieldSet">
        <legend>Imágenes Comerciales</legend>
        <div>
          <label for="imagen1">Selecciona una imágen</label>
          <input type="file" id="imagen1" name="imagen1" (change)="convertir($event)" />
          <p id="imagen1Validacion" class="mensajes"></p>

          <label for="imagen2">Selecciona una imágen</label>
          <input type="file" id="imagen2" name="imagen2" (change)="convertir($event)" />
          <p id="imagen2Validacion" class="mensajes"></p>

          <label for="imagen3">Selecciona una imágen</label>
          <input type="file" id="imagen3" name="imagen3" (change)="convertir($event)" />
          <p id="imagen3Validacion" class="mensajes"></p>
        </div>
        <div>
          <label for="imagen4">Selecciona una imágen</label>
          <input type="file" id="imagen4" name="imagen4" (change)="convertir($event)" />
          <p id="imagen4Validacion" class="mensajes"></p>

          <label for="imagen5">Selecciona una imágen</label>
          <input type="file" id="imagen5" name="imagen5" (change)="convertir($event)" />
          <p id="imagen5Validacion" class="mensajes"></p>

          <label for="imagen6">Selecciona una imágen</label>
          <input type="file" id="imagen6" name="imagen6" (change)="convertir($event)" />
          <p id="imagen6Validacion" class="mensajes"></p>
        </div>
      </fieldset>

      <div id="button">
        <div id="mensajes" class="mensajes"></div>
        <button (click)="enviarFormulario()">Enviar</button>
      </div>
    </form>
  </div>

  <div id="seccion2">
    <h3>¿Cómo funciona?</h3>
    <div id="seccion2DivB">
      <div>
        <div><img src="../../assets/imagenes/creaPerfil.jpg" alt="crea tu perfil" /></div>
        <p>Crea tu perfil</p>
      </div>
      <div>
        <div><img src="../../assets/imagenes/registraNegocio.jpg" alt="registra tu negocio" /></div>
        <p>Registra tu negocio</p>
      </div>
      <div>
        <div><img src="../../assets/imagenes/promociona.jpg" alt="promociona tus productos o servicios" /></div>
        <p>Promociona tus productos y/o servicios</p>
      </div>
      <div>
        <div><img src="../../assets/imagenes/interactua.jpg" alt="interactua con tus clientes" /></div>
        <p>Interactúa con tus clientes</p>
      </div>
    </div>
  </div>
  <app-marketing-digital id="marketing"></app-marketing-digital>
  <app-footer></app-footer>
</div>

<ng-template #modalcreatestore let-modal>
  <div class="modal-header text-center">
    <h4 class="modal-title ">{{tituloModal}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class=" container-fluid">
      <div class="row">
        <div class="col-md-12 col-lg-12">
          <p style="color: #3b2002">
            {{mensajeModal}}
          </p>
        </div>
      </div>
    </div>
  </div>
</ng-template>