<div id="mainContainerFooter">
    <div id="logo">
        <img src="../../assets/imagenes/toluca-la-bella.png" id="tolucaLaBellaImg" />
    </div>
    <div id="Div2Container">
        <div>
            <h3>Sobre la empresa</h3>
            <div><span>Toluca la Bella es un directorio de negocios en Toluca. Descubra los mejores negocios locales con información detallada y actualizada.</span></div>
            <div id="phoneDiv"><em class="fas fa-phone fa-1x"></em><span id="phoneSpan">7224304100</span></div>
        </div>
        <div>
            <h3>Categorías</h3>
            <ul>
                <li>Tiendas</li>
                <li>Restaurantes</li>
                <li>Cuidado Personal</li>
                <li>Bienestar</li>
                <li>Entretenimiento</li>
                <li>Educación</li>
                <li>Tecnología y Comunicación</li>
                <li>Automotríz</li>
                <li>Turismo</li>
            </ul>
        </div>
        <div>
            <h3>Secciones</h3>
            <ul>
                <li>Mi Cuenta</li>
                <li>Registro</li>
                <li>Nosotros</li>
                <li>Directorio</li>
                <li>Noticias</li>
            </ul>
        </div>
    </div>
</div>