<div id="principalContainer">
    <div id="seccion1">
        <div>
            <h1 id="tolucaBellaMainTitle"><strong>Toluca <br />la Bella</strong></h1>
            <div><span>Tu directorio con los Mejores Negocios de la Ciudad</span></div>
        </div>
        <div>
            <img src="../../assets/imagenes/imagenUnoNosotros.PNG" alt="imagenUnoNosotros" />
        </div>
    </div>
    <hr />
    <div id="quienesSomosDiv">
        <div id="quienesSomosDiv_">
            <h2><strong>¿Quiénes somos?</strong></h2>
            <p>Toluca la Bella es el <strong>directorio de negocios en Toluca</strong> que conecta a la comunidad con
                los
                mejores establecimientos de la región. Nuestro objetivo es proporcionar una plataforma completa y fácil
                de
                usar donde tanto residentes como visitantes puedan encontrar <strong>negocios locales en Toluca</strong>
                que
                ofrezcan una amplia gama de servicios y productos. Desde restaurantes y tiendas de ropa hasta servicios
                profesionales y de salud, en Toluca la Bella encontrarás todo lo que necesitas en un solo lugar.</p>
        </div>
        <div>
            <img src="../../assets/imagenes/imagenDosNosotros.PNG" alt="imagenDosNosotros" />
        </div>
    </div>
    <hr />
    <div id="masQueUnDirectorioDiv">
        <div id="masQueUnDirectorioDiv_">
            <div>
                <img src="../../assets/imagenes/imagenDosNosotros.PNG" alt="imagenDosNosotros" />
            </div>
            <div>
                <h2><strong>Más que un directorio</strong></h2>
                <p>Con Toluca la Bella, <strong>promovemos el crecimiento de los negocios locales</strong> y fomentamos
                    el
                    desarrollo económico de nuestra querida ciudad. Si tienes un negocio en Toluca y deseas aumentar tu
                    presencia en línea, nuestro directorio es la herramienta perfecta para llegar a más clientes
                    potenciales.
                    Unete a nosotros y forma parte de la comunidad de <strong>Toluca la Bella</strong>.
                </p>
            </div>
        </div>
    </div>
    <div id="descubreConectaDiv">
        <div id="descubreConectaDiv_">
            <div>
                <h3>Encuentra, Descubre y Conecta con los Negocios de Toluca</h3>
            </div>
            <div><button>Botón</button></div>
        </div>
        <div>
            <img src="../../assets/imagenes/imagenTresNosotros.PNG" alt="imagenTresNosotros" />
        </div>
    </div>
    <div id="tolucaAlcanceDiv">
        <p>Toluca a tu Alcance</p>
        <span>LOS NEGOCIOS LOCALES QUE ESTÁS BUSCANDO</span>
        <button>Botón</button>
        <span>¿Cómo te ayudamos al anunciar tu negocio?</span>
    </div>
    <div id="apasionaDiv">
        <div>
            <p>En <strong>Toluca la Bella</strong>, nos apasiona impulsar el crecimiento de los <strong>negocios
                    locales</strong>. Por ello, hemos creado un directorio integral que te permite encontrar los
                <strong>productos y servicios</strong> que necesitas; conectar con profesionales, artesanos de la
                región,
                pero sobre todo <strong>promocionar</strong> tu propio negocio.
            </p>
        </div>
        <div>
            <img src="../../assets/imagenes/imagenCuatroNosotros.PNG" alt="imagenCuatroNosotros" />
        </div>
    </div>
    <div id="posibilidadesDiv">
        <h4>Explora las infinitas posibilidades que <strong>Toluca la Bella</strong> te ofrece:</h4>
        <div id="posibilidadesDivSub">
            <div>
                <ol start="1">
                    <li>
                        <p>Aumentar tu visibilidad online: <strong>Registra tu negocio en nuestro directorio</strong> y
                            llega a
                            miles de clientes potenciales que buscan productos y servicios como los tuyos en
                            <strong>Toluca</strong>.
                        </p>
                    </li>
                    <li>
                        <p>Promocionar tus productos y servicios: Crea <strong>ofertas</strong> especiales,
                            <strong>descuentos</strong> y <strong>promociones</strong> para <strong>atraer nuevos
                                clientes</strong>
                            y fidelizar a los existentes.
                        </p>
                    </li>
                </ol>
            </div>
            <div id="imagePosibilidadesDiv">
                <img id="imagePosibilidades" src="../../assets/imagenes/imagenCincoNosotros.PNG"
                    alt="imagenCincoNosotros" />
            </div>
            <div>
                <ol start="3">
                    <li>
                        <p>Conectar con clientes potenciales: <strong>Interactúa con los usuarios</strong> que visitan
                            tu
                            perfil de
                            negocio, responde a sus preguntas y conviértelos en clientes satisfechos.</p>
                    </li>
                    <li>
                        <p>Mayor confianza del cliente: El estar listado en un <strong>directorio</strong> confiable y
                            bien
                            establecido puede aumentar la percepción de <strong>confianza</strong> de los clientes hacia
                            su
                            negocio.</p>
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <div id="registraNegocioDiv">
        <h3><strong>Registra tu negocio</strong> en nuestro directorio y accede a nuestras opciones publicitarias para
            <strong>aumentar tu visibilidad</strong> y <strong>llegar a más clientes potenciales</strong>.
        </h3>
    </div>
    <div>
        <h2 id="historiasExitoTitle">Historias de Éxito</h2>
        <div id="historiasExitoDiv">
            <div>
                <img src="../../assets/imagenes/imagenSeisNosotros.PNG" alt="imagenSeisNosotros" />
                <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum odit nisi aperiam dignissimos quia.
                    Enim
                    iste asperiores veniam dicta sed tenetur dolores explicabo eaque ea laudantium, excepturi qui aut
                    nihil.
                </h5>
            </div>
            <div>
                <img src="../../assets/imagenes/imagenSeisNosotros.PNG" alt="imagenSeisNosotros" />
                <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum odit nisi aperiam dignissimos quia.
                    Enim
                    iste asperiores veniam dicta sed tenetur dolores explicabo eaque ea laudantium, excepturi qui aut
                    nihil.
                </h5>
            </div>
            <div>
                <img src="../../assets/imagenes/imagenSeisNosotros.PNG" alt="imagenSeisNosotros" />
                <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum odit nisi aperiam dignissimos quia.
                    Enim
                    iste asperiores veniam dicta sed tenetur dolores explicabo eaque ea laudantium, excepturi qui aut
                    nihil.
                </h5>
            </div>
            <div>
                <img src="../../assets/imagenes/imagenSeisNosotros.PNG" alt="imagenSeisNosotros" />
                <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum odit nisi aperiam dignissimos quia.
                    Enim
                    iste asperiores veniam dicta sed tenetur dolores explicabo eaque ea laudantium, excepturi qui aut
                    nihil.
                </h5>
            </div>
        </div>
    </div>
    <div id="contactoDiv">
        <div>
            <span>Contácto</span>
            <h5>7224304100</h5>
        </div>
        <div>
            <form>
                <div>
                    <input type="text" placeholder="NOMBRE COMPLETO" />
                    <input type="text" placeholder="ASUNTO" />
                </div>
                <textarea placeholder="MENSAJE"></textarea>
                <div>
                    <button id="enviarFormButton">Enviar</button>
                </div>
            </form>
        </div>
    </div>
    <div id="footerNosotros">
        <span><strong>Anúnciate en Toluca la Bella y llega a nuevos clientes.</strong></span>
        <button id="botonFooterNosotros">Botón</button>
    </div>
</div>
<app-footer></app-footer>