<div *ngIf="subcategoria">
    <p>{{subcategoria.categoria}}/{{subcategoria.subcategoria}}</p>
    <h3>{{subcategoria.subcategoria}}</h3>
    <h4>{{subcategoria.metaDescripcion}}</h4>
</div>

<hr />
<div class="contentContainer">
    <div class="negocioRow">

        <ngx-spinner name="spinnerNegocioSubCategoria" bdOpacity=0.9 bdColor="#f4f4f9" size="small" color="black"
            type="ball-spin" [fullScreen]="false">
        </ngx-spinner>

        <div class="negocio" *ngFor="let negocio of subcategoria.negocios">
            <div class="negocioInfo"
                [routerLink]="['/directorio-de-negocios', subcategoria.categoria, subcategoria.subcategoria,  negocio.idNegocio]">
                <img *ngIf="negocio.imagenes.length > 0" src={{apiEndPoint+imagenesBasePath+negocio.imagenes[0].nombre}}
                    class="negocioImage" />
                <img *ngIf="negocio.imagenes.length == 0" src="../../assets/imagenes/unavailable.jpg"
                    class="negocioImage" />
                <div class="detailInfo">
                    <h3 class="negocioTitle">{{negocio.nombrEmpresa}}</h3>
                </div>
            </div>
        </div>
    </div>
</div>