.titleNav, .footerNav{
    background-color: bisque;
    text-align: center;
}

.titleNav{
    height: 10vh;
}

.titleNav h1{
    display: inline-block;
}

#tolucaLaBellaImg{
    height: 10vh;
}

.footerNav{
    height: 5vh;
}

.mainContent{
    height: 85vh;
    overflow: auto;
}