  <nav class="titleNav">

    <h1>Toluca la Bella</h1>
	
</nav>

<!--<nav class="navbar-primary ">
  <ul>
    <br>
    <li class="label">Productos</li>


    <li routerLinkActive="activo">
        <a routerLink="/front/imagenes">
          <em class="fa fa-cart-plus"></em> Imagenes&nbsp;&nbsp; </a>
    </li>

    <li routerLinkActive="activo">
      <a routerLink="/front/modales">
        <em class="fa fa-map-marker"></em> Modales &nbsp;&nbsp;</a>
    </li>


    <li routerLinkActive="activo">
      <a routerLink="/front/formularios">
        <em class="fa fa-cart-plus"></em> Formularios&nbsp; </a>
    </li>


    <li routerLinkActive="activo">
      <a routerLink="/front/registro">
        <em class="fa fa-cart-plus"></em> Registro </a>
    </li>
    <li (click)="logout()"><a>
        <em class="ti-close"></em>
        <em class="fa fa-sign-out" aria-hidden="true"></em>Cerrar Sesión
      </a>
    </li>
  </ul>
</nav>-->

<main class="mainContent">
  <router-outlet></router-outlet>
</main>

<nav class="footerNav">

	<p>2024 - ZORKTECH&reg;</p>


</nav>