#mainContent{
    position: relative;
}

.containerGaleriaNegociosRelacionados {
    display: flex;
}

.containerGaleriaNegociosRelacionados img {
    padding: 0px 10px;
}

.negocioNombre{
    text-align: center;
}

.negocioCard:hover{
    cursor: pointer;
}

.carousel-indicators li {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin: 10px;
    text-indent: 0;
    cursor: pointer;
    border: none;
    /*border-radius: 50%;*/
    background-color: rgb(218, 183, 143);
    ;
    /*box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.5);*/
}

.carousel-indicators .active {
    width: 8px;
    height: 8px;
    margin: 10px;
    background-color: #a55233;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 20px;
    width: 20px;
    outline: black;
    background-size: 100%, 100%;
    border-radius: 50%;
    border: 0px solid #a55233;
    background-image: none;
}

.carousel-control-next-icon:after {
    content: '>';
    font-size: 35px;
    font-weight: bolder;
    color: #a55233;
}

.carousel-control-prev-icon:after {
    content: '<';
    font-size: 35px;
    font-weight: bolder;
    color: #a55233;
}