#seccion1 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#seccion1>div {
    width: 50%;
}


#seccion2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #F0F0F0;
    position: relative;
}

#noticiasH2{
    text-align: center;
    background-color: #F0F0F0;
    margin: 0px;
}

.categoria {
    margin: 0px 20px;
    text-align: center;
}

#categorias {
    display: flex;
    align-items: stretch;
    padding: 30px;
}

#categorias:hover {
    cursor: pointer;
}

#footer {
    background-color: #F0F0F0;
    padding: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

#botonFooter {
    margin-left: 90px;
}

img {
    max-width: 100%;
}

@media (max-width:815px) {
    #seccion1 {
        flex-direction: column;
        text-align: center;
    }

    #seccion1>div {
        width: 100%;
    }

    #categorias {
        flex-direction: column;
        text-align: center;
        padding: 0px;
    }

    .categoria {
        margin: 0px;
    }

    #footer {
        flex-direction: column;
        text-align: center;
    }

    #botonFooter {
        margin-left: 0px;
    }
}