<div id="mainContainer">

    <div id="seccion1">
        <div>
            <h1>Encuentra la magia de Toluca</h1>
            <div>Apoya a los negocios locales de Toluca</div>
            <button>Botón</button>
        </div>
        <div>
            <img src="../../assets/imagenes/imagenUnoNosotros.PNG" />
        </div>
    </div>
    <hr />

    <div id="seccion2">
        <h2>Categorías</h2>
        <div id="categorias">
            <div class="categoria">
                <img src="../../assets/imagenes/categorias.PNG" />
                <h2>Tendencias</h2>
            </div>
            <div class="categoria">
                <img src="../../assets/imagenes/categorias.PNG" />
                <h2>Eventos</h2>
            </div>
            <div class="categoria">
                <img src="../../assets/imagenes/categorias.PNG" />
                <h2>Recomendaciones</h2>
            </div>
            <div class="categoria">
                <img src="../../assets/imagenes/categorias.PNG" />
                <h2>Negocios</h2>
            </div>
        </div>
    </div>
    <div id="seccion3">
        <div class="carousel slide" id="demo" data-ride="carousel">
            <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
            </ul>

            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="noticias1">
                        <div>
                            <img src="../../assets/imagenes/noticias.PNG" />
                        </div>
                        <div>
                            <h3>Noticia</h3>
                            <p>Fecha</p>
                            <h2>Categoría</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos nobis eaque dolores qui
                                exercitationem,
                                officiis nemo dicta debitis officia commodi, est, ipsum doloribus? Eaque corrupti
                                molestiae
                                nisi,
                                consequatur ullam sapiente.</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="noticias1">
                        <div>
                            <img src="../../assets/imagenes/noticias.PNG" />
                        </div>
                        <div>
                            <h3>Noticia</h3>
                            <p>Fecha</p>
                            <h2>Categoría</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos nobis eaque dolores qui
                                exercitationem,
                                officiis nemo dicta debitis officia commodi, est, ipsum doloribus? Eaque corrupti
                                molestiae
                                nisi,
                                consequatur ullam sapiente.</p>
                        </div>
                    </div>
                </div>
            </div>


            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
        <div class="noticias1">
            <div>
                <img src="../../assets/imagenes/noticias.PNG" />
            </div>
            <div>
                <h3>Noticia</h3>
                <p>Fecha</p>
                <h2>Tendencias</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos nobis eaque dolores qui exercitationem,
                    officiis nemo dicta debitis officia commodi, est, ipsum doloribus? Eaque corrupti molestiae nisi,
                    consequatur ullam sapiente.</p>
            </div>
        </div>
        <div class="noticias1">
            <div>
                <img src="../../assets/imagenes/noticias.PNG" />
            </div>
            <div>
                <h3>Noticia</h3>
                <p>Fecha</p>
                <h2>Eventos</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos nobis eaque dolores qui exercitationem,
                    officiis nemo dicta debitis officia commodi, est, ipsum doloribus? Eaque corrupti molestiae nisi,
                    consequatur ullam sapiente.</p>
            </div>
        </div>
    </div>
    <div id="seccion4">
        <h2>En el instante</h2>
        <div class="noticias1">
            <div>
                <div class="noticias1">
                    <div>
                        <img src="../../assets/imagenes/noticias2.PNG" />
                    </div>
                    <div>
                        <h2>Tendencias</h2>
                        <h3>Noticia</h3>
                        <p>Fecha</p>
                    </div>
                </div>
                <div class="noticias1">
                    <div>
                        <img src="../../assets/imagenes/noticias2.PNG" />
                    </div>
                    <div>
                        <h2>Eventos</h2>
                        <h3>Noticia</h3>
                        <p>Fecha</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="noticias1">
                    <div>
                        <img src="../../assets/imagenes/noticias2.PNG" />
                    </div>
                    <div>
                        <h2>Recomendaciones</h2>
                        <h3>Noticia</h3>
                        <p>Fecha</p>
                    </div>
                </div>
                <div class="noticias1">
                    <div>
                        <img src="../../assets/imagenes/noticias2.PNG" />
                    </div>
                    <div>
                        <h2>Negocios</h2>
                        <h3>Noticia</h3>
                        <p>Fecha</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="seccion5">
        <h2><strong>Tendencias</strong></h2>
        <div class="carousel slide" id="tendencias" data-ride="carousel">
            <ul class="carousel-indicators">
                <li data-target="#tendencias" data-slide-to="0" class="active"></li>
                <li data-target="#tendencias" data-slide-to="1"></li>
            </ul>

            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="noticias1">
                        <div>
                            <div class="tendenciasImgDiv"><img class="tendenciasImg"
                                    src="../../assets/imagenes/imagenCuatroNosotros.PNG" /></div>
                            <p>Fecha</p>
                            <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos nobis eaque dolores qui
                                exercitationem,
                                officiis nemo dicta debitis officia commodi, est, ipsum doloribus? Eaque corrupti
                                molestiae
                                nisi,
                                consequatur ullam sapiente.</h3>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="noticias1">
                        <div>
                            <div class="tendenciasImgDiv"><img class="tendenciasImg"
                                    src="../../assets/imagenes/imagenCuatroNosotros.PNG" /></div>
                            <p>Fecha</p>
                            <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos nobis eaque dolores qui
                                exercitationem,
                                officiis nemo dicta debitis officia commodi, est, ipsum doloribus? Eaque corrupti
                                molestiae
                                nisi,
                                consequatur ullam sapiente.</h3>
                        </div>
                    </div>
                </div>
            </div>


            <a class="carousel-control-prev" href="#tendencias" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#tendencias" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </div>
    <div id="seccion6">
        <h2>DESCUBRIR CATEGORÍAS</h2>
        <div id="seccion6_">
            <div>
                <h4>Eventos</h4>
                <div class="dCategorias">
                    <div>
                        <img src="../../assets/imagenes/imagenSeisNosotros.PNG" />
                    </div>
                    <div>
                        <h3 class="dCategoriasNota">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero
                            quisquam dolore exercitationem voluptates vel porro...</h3>
                        <p>Fecha</p>
                    </div>
                </div>
                <div class="dCategorias">
                    <div>
                        <img src="../../assets/imagenes/imagenSeisNosotros.PNG" />
                    </div>
                    <div>
                        <h3>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero quisquam dolore
                            exercitationem voluptates vel porro...</h3>
                        <p>Fecha</p>
                    </div>
                </div>
                <div class="dCategorias">
                    <div>
                        <img src="../../assets/imagenes/imagenSeisNosotros.PNG" />
                    </div>
                    <div>
                        <h3>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero quisquam dolore
                            exercitationem voluptates vel porro...</h3>
                        <p>Fecha</p>
                    </div>
                </div>
                <div class="botonS6Div"><button>Botón</button></div>
            </div>
            <div>
                <h4>Recomendaciones</h4>
                <div class="dCategorias">
                    <div>
                        <img src="../../assets/imagenes/imagenSeisNosotros.PNG" />
                    </div>
                    <div>
                        <h3>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero quisquam dolore
                            exercitationem voluptates vel porro...</h3>
                        <p>Fecha</p>
                    </div>
                </div>
                <div class="dCategorias">
                    <div>
                        <img src="../../assets/imagenes/imagenSeisNosotros.PNG" />
                    </div>
                    <div>
                        <h3>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero quisquam dolore
                            exercitationem voluptates vel porro...</h3>
                        <p>Fecha</p>
                    </div>
                </div>
                <div class="dCategorias">
                    <div>
                        <img src="../../assets/imagenes/imagenSeisNosotros.PNG" />
                    </div>
                    <div>
                        <h3>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero quisquam dolore
                            exercitationem voluptates vel porro...</h3>
                        <p>Fecha</p>
                    </div>
                </div>
                <div class="botonS6Div"><button>Botón</button></div>
            </div>
            <div>
                <h4>Negocios</h4>
                <div class="dCategorias">
                    <div>
                        <img src="../../assets/imagenes/imagenSeisNosotros.PNG" />
                    </div>
                    <div>
                        <h3>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero quisquam dolore
                            exercitationem voluptates vel porro...</h3>
                        <p>Fecha</p>
                    </div>
                </div>
                <div class="dCategorias">
                    <div>
                        <img src="../../assets/imagenes/imagenSeisNosotros.PNG" />
                    </div>
                    <div>
                        <h3>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero quisquam dolore
                            exercitationem voluptates vel porro...</h3>
                        <p>Fecha</p>
                    </div>
                </div>
                <div class="dCategorias">
                    <div>
                        <img src="../../assets/imagenes/imagenSeisNosotros.PNG" />
                    </div>
                    <div>
                        <h3>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero quisquam dolore
                            exercitationem voluptates vel porro...</h3>
                        <p>Fecha</p>
                    </div>
                </div>
                <div class="botonS6Div"><button>Botón</button></div>
            </div>
        </div>
    </div>
    <div id="footer">
        <div>
            <div><span><strong>Explora ahora y descubre lo mejor de Toluca.</strong></span></div>
            <div><span>¿Tienes un negocio? <strong>¡Regístralo hoy!</strong></span></div>
        </div>
        <div><button id="botonFooter">Botón</button></div>
    </div>
    <app-footer></app-footer>
</div>