<div id="seccion1">
    <div>
        <h1>Encuentra la magia de Toluca</h1>
        <div>Apoya a los negocios locales de Toluca</div>
        <button>Botón</button>
    </div>
    <div>
        <img src="../../assets/imagenes/imagenUnoNosotros.PNG" />
    </div>
</div>
<hr />

<h2 id="noticiasH2">Articulos</h2>
<div id="seccion2">

    <ngx-spinner name="spinnerArticulos" bdOpacity=0.9 bdColor="#f4f4f9" size="small" color="black" type="ball-spin"
        [fullScreen]="false">
    </ngx-spinner>

    <div *ngIf="noticias" id="categorias">
        <div *ngFor="let categoria of noticias.categorias">
            <a (click)="settingCategoria(categoria.titulo)">
                <div class="categoria">
                    <img src="{{categoria.imagen}}" />
                    <h2>{{categoria.titulo}}</h2>
                </div>
            </a>
        </div>
    </div>
</div>

<div #noticiasDetalle>
    <app-noticias-articulos [categoria]="categoria"></app-noticias-articulos>
</div>

<app-noticias-instante></app-noticias-instante>

<div id="footer">
    <div>
        <div><span><strong>Explora ahora y descubre lo mejor de Toluca.</strong></span></div>
        <div><span>¿Tienes un negocio? <strong>¡Regístralo hoy!</strong></span></div>
    </div>
    <div><button id="botonFooter">Botón</button></div>
</div>
<app-footer></app-footer>