          <div class="form-group">
            <label for="nameempresa"><a style="color: red;">*</a>Name</label>
            <input class="form-control" id="nameempresa" type="text" placeholder="Name" [(ngModel)]="texto">

            <label for="nameempresa"><a style="color: red;">*</a>Cellphone</label>
            <input class="form-control" id="nameempresa" type="text" placeholder="Cellphone" [(ngModel)]="texto">

            <label for="nameempresa"><a style="color: red;">*</a>Email</label>
            <input class="form-control" id="nameempresa" type="text" placeholder="Email" [(ngModel)]="texto">

            <label for="nameempresa"><a style="color: red;">*</a>Business's name</label>
            <input class="form-control" id="nameempresa" type="text" placeholder="Business's name" [(ngModel)]="texto">

            <label for="nameempresa"><a style="color: red;">*</a>State</label>
            <input class="form-control" id="nameempresa" type="text" placeholder="State" [(ngModel)]="texto">

            <label for="nameempresa"><a style="color: red;">*</a>City or Town</label>
            <input class="form-control" id="nameempresa" type="text" placeholder="City or Town" [(ngModel)]="texto">

            <label for="nameempresa"><a style="color: red;">*</a>Neighborhood</label>
            <input class="form-control" id="nameempresa" type="text" placeholder="Neighborhood" [(ngModel)]="texto">

            <label for="nameempresa"><a style="color: red;">*</a>Street</label>
            <input class="form-control" id="nameempresa" type="text" placeholder="Street" [(ngModel)]="texto">

            <label for="nameempresa"><a style="color: red;">*</a>Number</label>
          <input class="form-control" id="nameempresa" type="text" placeholder="Number" [(ngModel)]="texto">

          <label for="nameempresa"><a style="color: red;">*</a>About the business</label>
          <input class="form-control" id="nameempresa" type="text" placeholder="About the business" [(ngModel)]="texto">



          </div>
          <!--<div class="form-group">
          <label for="numstore"><a style="color: red;">*</a>Texto</label>
          <input type="text" id="numstore"  class="form-control" placeholder="PLACEHOLDER" [(ngModel)]="numero" maxlength="5" [disabled]="false" numbersOnly >
        </div>
        <div class="form-group">
                <div class="input-group mb-3">
                  <label for="lblSelectCP"></label>
                  <select name="lblSelectCP" id="lblSelectCP" class="form-control" [(ngModel)]="selectCP">
                    <option [ngValue]="cpitem" *ngFor="let cpitem of cplist" >{{cpitem.cp}}</option>
                  </select> 
                </div>
              </div>

            <div class="form-group">
    <label for="fileUploader">Selecciona Archivo</label>
    <input type="file" class="form-control-file" id="fileUploader" (change)="convertir($event)">
  </div> -->

              <div class="form-group">
    <label for="fileUploaderM">Images about the business</label>
    <input type="file" class="form-control-file" id="fileUploaderM" multiple>
  </div>