.mainContainer{
  border: 1px solid green;
  display: flex;
  height: 80vh;
}

.categoriesContainer{
  border: 1px solid blue;
  width: 20%;
  background-color: aquamarine;
}

.contentContainer{
  border: 1px solid black;
  width: 80%;
  background-color: antiquewhite ;
  overflow: auto;
}

.negocio{
  border: 1px solid saddlebrown;
  margin: 20px;
  width: 20%;
}

.negocioInfo{

  
}

.negocioImage{
  width: 100%;
  height: 100px;
}

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  p{
    font-size: 10vw;
    color: red;
  }
  .footer{
    background-image: url("/assets/imagenes/whatsapp.svg");
  }
  .trabajosImg{
    width: 100%;
    height:  100%;
  }
  
}


/* Small devices (landscape phones, less than 768px) */
@media (min-width: 576px) and (max-width: 767.98px) {
  p{
    color: blue;
  }
  .footer{
     background-color: #cccccc;
  }
  .trabajosImg{
    width: 100%;
    height:  100%;
  }
}


/* Medium devices (tablets, less than 992px) */
@media (min-width: 768px) and (max-width: 991.98px) {
  p{
    color: green;
  }
  .footer{
     background-color: #cccccc;
  }
  .trabajosImg{
    width: 100%;
    height:  100%;
  }

}

/* Large devices (desktops, less than 1200px) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  p{
    color: pink;
  }
  .footer{
     background-color: #cccccc;
  }
  .trabajosImg{
    width: 100%;
    height:  100%;
  }
}

/*  X-Large devices (large desktops, less than 1400px) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
  p{
    color: purple;
  }
  .footer{
     background-color: #cccccc;
  }
  .trabajosImg{
    width: 100%;
    height:  100%;
  }
}

/* XX-Large devices (larger desktops) */
@media (min-width: 1400px) {
  p{
    color: orange;
  }
  .footer{
     background-color: #cccccc;
  }
  .trabajosImg{
    width: 100%;
    height:  100%;
  }
}