<!--<div class="mainContainer">

  <div #categoriesContainer class="categoriesContainer navColor divCategories">
      <a (click)="changeCategoryName('Peluquerias')">Peluquerias</a>
      <a (click)="changeCategoryName('Ropa')">Ropa</a>
      <a (click)="changeCategoryName('Computadoras')">Computadoras</a>
      <a (click)="changeCategoryName('Ferreterias')">Ferreterias</a>
      <a (click)="changeCategoryName('Materiales de construcción')">Materiales de construcción</a>
      <a (click)="changeCategoryName('Abarrotes')">Abarrotes</a>
      <a (click)="changeCategoryName('Farmacias')">Farmacias</a>
      <a (click)="changeCategoryName('Hospitales')">Hospitales</a>
      <a (click)="changeCategoryName('Veterinarias')">Veterinarias</a>
      <a (click)="changeCategoryName('Electrónica')">Electrónica</a>
  </div>

  <nav class="navbar navbar-dark navColor" id="navegationBar">
    <button #categoriesButton id="categoriesButton">
      <i class="fa fa-bars" aria-hidden="true"></i>
    </button>
  </nav>

  <div class="contentContainer">

    <h4 class="nombreCategoria">{{categoria}}</h4>

    <div class="negocioRow">
    <div class="negocio">
      <div class="negocioInfo">
        <img src="../../assets/imagenes/unavailable.jpg" class="negocioImage" />
        <p>Negocio name</p>
      </div>
    </div>
    <div class="negocio">
      <div class="negocioInfo">
        <img src="../../assets/imagenes/unavailable.jpg" class="negocioImage" />
        <p>Negocio name</p>
      </div>
    </div>
    <div class="negocio">
      <div class="negocioInfo">
        <img src="../../assets/imagenes/unavailable.jpg" class="negocioImage" />
        <p>Negocio name</p>
      </div>
    </div>
    <div class="negocio">
      <div class="negocioInfo">
        <img src="../../assets/imagenes/unavailable.jpg" class="negocioImage" />
        <p>Negocio name</p>
      </div>
    </div>
    <div class="negocio">
      <div class="negocioInfo">
        <img src="../../assets/imagenes/unavailable.jpg" class="negocioImage" />
        <p>Negocio name</p>
      </div>
    </div>
  </div>

  <div class="negocioRow">
    <div class="negocio">
      <div class="negocioInfo">
        <img src="../../assets/imagenes/unavailable.jpg" class="negocioImage" />
        <p>Negocio name</p>
      </div>
    </div>
    <div class="negocio">
      <div class="negocioInfo">
        <img src="../../assets/imagenes/unavailable.jpg" class="negocioImage" />
        <p>Negocio name</p>
      </div>
    </div>
    <div class="negocio">
      <div class="negocioInfo">
        <img src="../../assets/imagenes/unavailable.jpg" class="negocioImage" />
        <p>Negocio name</p>
      </div>
    </div>
    <div class="negocio">
      <div class="negocioInfo">
        <img src="../../assets/imagenes/unavailable.jpg" class="negocioImage" />
        <p>Negocio name</p>
      </div>
    </div>
    <div class="negocio">
      <div class="negocioInfo">
        <img src="../../assets/imagenes/unavailable.jpg" class="negocioImage" />
        <p>Negocio name</p>
      </div>
    </div>
  </div>

  <div class="negocioRow">
    <div class="negocio">
      <div class="negocioInfo">
        <img src="../../assets/imagenes/unavailable.jpg" class="negocioImage" />
        <p>Negocio name</p>
      </div>
    </div>
    <div class="negocio">
      <div class="negocioInfo">
        <img src="../../assets/imagenes/unavailable.jpg" class="negocioImage" />
        <p>Negocio name</p>
      </div>
    </div>
    <div class="negocio">
      <div class="negocioInfo">
        <img src="../../assets/imagenes/unavailable.jpg" class="negocioImage" />
        <p>Negocio name</p>
      </div>
    </div>
    <div class="negocio">
      <div class="negocioInfo">
        <img src="../../assets/imagenes/unavailable.jpg" class="negocioImage" />
        <p>Negocio name</p>
      </div>
    </div>
    <div class="negocio">
      <div class="negocioInfo">
        <img src="../../assets/imagenes/unavailable.jpg" class="negocioImage" />
        <p>Negocio name</p>
      </div>
    </div>
  </div>

  </div>

</div>-->

<div id="contenido" style="text-align: center;">
  <h3>Estamos por lanzar una plataforma de <span style="color: burlywood;">PUBLICIDAD</span>
     para Toluca</h3>
  <h1>Toluca la Bella</h1>
  <h3>Se uno de los primeros 100 negocios que aparezcan publicados</h3>
  <h2>¡Ponte en contacto con nosotros!</h2>
  <h2>Ya solo nos faltan: <span style="color: red; font-weight: bolder;">{{conteo}}</span></h2>
  <h2 *ngIf="isHappy; then happyFace; else sadFace"></h2>
  <ng-template #sadFace>
    <i class="fas fa-sad-cry fa-5x"></i>
  </ng-template>
  <ng-template #happyFace>
    <i class="fas fa-smile fa-5x"></i>
  </ng-template>
  <h5>({{mensaje}})</h5>
</div> 

<div id="WAButton"></div>