<!--<div id="contenido" style="text-align: center;">
  <h3>Estamos por lanzar una plataforma de <span style="color: burlywood;">PUBLICIDAD</span>
     para Toluca</h3>
  <h1>Toluca la Bella</h1>
  <img src="../../assets/imagenes/toluca-la-bella.png" id="tolucaLaBellaImg" />
  <h3>Se uno de los primeros 100 negocios que aparezcan publicados</h3>
  <h2>¡Ponte en contacto con nosotros!</h2>
  <h2>Ya solo nos faltan: <span style="color: red; font-weight: bolder;">{{conteo}}</span></h2>
  <h2 *ngIf="isHappy; then happyFace; else sadFace"></h2>
  <ng-template #sadFace>
    <i class="fas fa-sad-cry fa-5x"></i>
  </ng-template>
  <ng-template #happyFace>
    <i class="fas fa-smile fa-5x"></i>
  </ng-template>
  <h5>({{mensaje}})</h5>
</div> -->

<div id="mainContainerInicio">
  <div id="tolucaLogoDiv">
    <img src="../../assets/imagenes/toluca-la-bella-inicio.PNG" alt="Directorio Toluca la Bella"
      id="tolucaLaBellaImg" />
  </div>
  <hr />

  <div id="sobreTolucaLaBella">
    <div>
      <h2 id="tolucaBellaInfoH2">SOBRE TOLUCA LA BELLA</h2>
      <p id="sobreTolucaInfo"><strong>Toluca la Bella</strong> es un <strong>directorio</strong> de negocios ubicado en
        el corazón de Toluca.
        Nos especializamos en conectar a la comunidad con los mejores <strong>negocios</strong> locales, ofreciendo a
        nuestros usuarios información detallada y actualizada sobre una amplia gama de <strong>servicios</strong> y
        <strong>productos</strong>. Nuestro horario de atención es las 24 horas del día, los 7 días de la semana y
        puedes encontrarnos en nuestra plataforma en línea.
      </p>
      <div id="botonTolucaInfo"><button>Botón</button></div>
    </div>
    <div>
      <img src="../../assets/imagenes/imagenCincoNosotros.PNG" alt="sobreTolucaBella" />
    </div>
  </div>

  <div id="testimoniosDiv">
    <h2>Historias de Éxito</h2>
    <app-historias-de-exito></app-historias-de-exito>
  </div>

  <app-nosotros></app-nosotros>

  <h3 id="categoriasTitle">Categorías</h3>
  <div>
    <div class="categoriasDiv" *ngFor="let categoria of categoriasObj">
      <div>
        <a [routerLink]="['/directorio-de-negocios', categoria.categoria]">
          <img src="../../assets/imagenes/categorias.PNG" alt="{{categoria.categoria}}" />
          <span class="categoriasSpan">{{categoria.categoria}}</span>
        </a>
      </div>
      <!--<div>
        <img src="../../assets/imagenes/categorias.PNG" id="" alt="restaurantes" />
        <span class="categoriasSpan">Restaurantes</span>
      </div>
      <div>
        <img src="../../assets/imagenes/categorias.PNG" id="" alt="cuidadoPersonal" />
        <span class="categoriasSpan">Cuidado Personal</span>
      </div>
      <div>
        <img src="../../assets/imagenes/categorias.PNG" id="" alt="bienestar" />
        <span class="categoriasSpan">Bienestar</span>
      </div>-->
    </div>
    <!--<div class="categoriasDiv">
      <div>
        <img src="../../assets/imagenes/categorias.PNG" id="" alt="entretenimiento" />
        <span class="categoriasSpan">Entretenimiento</span>
      </div>
      <div>
        <img src="../../assets/imagenes/categorias.PNG" id="" alt="educacion" />
        <span class="categoriasSpan">Educación</span>
      </div>
      <div>
        <img src="../../assets/imagenes/categorias.PNG" id="" alt="tecnologia" />
        <span class="categoriasSpan">Tecnología y Comunicación</span>
      </div>
      <div>
        <img src="../../assets/imagenes/categorias.PNG" id="" alt="automotriz" />
        <span class="categoriasSpan">Automotriz</span>
      </div>
      <div>
        <img src="../../assets/imagenes/categorias.PNG" id="" alt="turismo" />
        <span class="categoriasSpan">Turismo</span>
      </div>
    </div>-->
  </div>

  <div id="destinosPopularesDiv">
    <h3>Destinos Populares</h3>
    <div id="destinosPopularesDiv_">
      <div class="destinosPopularesDiv_Sec">
        <img src="../../assets/imagenes/imagenSeisNosotros.PNG" alt="destino1" />
        <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. A soluta nulla nobis, numquam aliquid ipsum
          mollitia
          quas, quasi accusantium vero dicta ex excepturi exercitationem itaque, debitis vel iure eaque sequi!</h4>
      </div>
      <div class="destinosPopularesDiv_Sec">
        <img src="../../assets/imagenes/imagenSeisNosotros.PNG" alt="destino1" />
        <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. A soluta nulla nobis, numquam aliquid ipsum
          mollitia
          quas, quasi accusantium vero dicta ex excepturi exercitationem itaque, debitis vel iure eaque sequi!</h4>
      </div>
      <div class="destinosPopularesDiv_Sec">
        <img src="../../assets/imagenes/imagenSeisNosotros.PNG" alt="destino1" />
        <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. A soluta nulla nobis, numquam aliquid ipsum
          mollitia
          quas, quasi accusantium vero dicta ex excepturi exercitationem itaque, debitis vel iure eaque sequi!</h4>
      </div>
      <div class="destinosPopularesDiv_Sec">
        <img src="../../assets/imagenes/imagenSeisNosotros.PNG" alt="destino1" />
        <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. A soluta nulla nobis, numquam aliquid ipsum
          mollitia
          quas, quasi accusantium vero dicta ex excepturi exercitationem itaque, debitis vel iure eaque sequi!</h4>
      </div>
    </div>
    <div>
      <button>Botón</button>
    </div>
  </div>

  <div id="recomendacionesDiv">
    <h3>Recomendaciones</h3>
    <div id="recomendacionesDiv_">
      <div class="recomendacionesDiv_sec">
        <img src="../../assets/imagenes/imagenSeisNosotros.PNG" alt="recomendacion1" />
        <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. A soluta nulla nobis, numquam aliquid ipsum
          mollitia
          quas, quasi accusantium vero dicta ex excepturi exercitationem itaque, debitis vel iure eaque sequi!</h4>
      </div>
      <div class="recomendacionesDiv_sec">
        <img src="../../assets/imagenes/imagenSeisNosotros.PNG" alt="recomendacion1" />
        <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. A soluta nulla nobis, numquam aliquid ipsum
          mollitia
          quas, quasi accusantium vero dicta ex excepturi exercitationem itaque, debitis vel iure eaque sequi!</h4>
      </div>
      <div class="recomendacionesDiv_sec">
        <img src="../../assets/imagenes/imagenSeisNosotros.PNG" alt="recomendacion1" />
        <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. A soluta nulla nobis, numquam aliquid ipsum
          mollitia
          quas, quasi accusantium vero dicta ex excepturi exercitationem itaque, debitis vel iure eaque sequi!</h4>
      </div>
      <div class="recomendacionesDiv_sec">
        <img src="../../assets/imagenes/imagenSeisNosotros.PNG" alt="recomendacion1" />
        <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. A soluta nulla nobis, numquam aliquid ipsum
          mollitia
          quas, quasi accusantium vero dicta ex excepturi exercitationem itaque, debitis vel iure eaque sequi!</h4>
      </div>
    </div>
    <div>
      <button>Botón</button>
    </div>
  </div>

  <div id="nuevosNegociosDiv">
    <h2>Nuevos Negocios</h2>
    <div id="nuevosNegocios" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ul class="carousel-indicators">
        <li data-target="#nuevosNegocios" data-slide-to="0" class="active"></li>
        <li data-target="#nuevosNegocios" data-slide-to="1"></li>
        <li data-target="#nuevosNegocios" data-slide-to="2"></li>
      </ul>
      <!-- The slideshow -->
      <div class="container carousel-inner no-padding">
        <div class="carousel-item active">
          <div class="col-xs-3 col-sm-3 col-md-3">
            <img
              src="https://image.shutterstock.com/z/stock-photo-sleeping-disorders-as-a-reason-for-insomnia-293777093.jpg">
            <div>Negocio</div>
          </div>
          <div class="col-xs-3 col-sm-3 col-md-3">
            <img
              src="https://image.shutterstock.com/z/stock-photo-sleeping-disorders-as-a-reason-for-insomnia-293777093.jpg">
            <div>Negocio</div>
          </div>
          <div class="col-xs-3 col-sm-3 col-md-3">
            <img
              src="https://image.shutterstock.com/z/stock-photo-sleeping-disorders-as-a-reason-for-insomnia-293777093.jpg">
            <div>Negocio</div>
          </div>
          <div class="col-xs-3 col-sm-3 col-md-3">
            <img
              src="https://image.shutterstock.com/z/stock-photo-sleeping-disorders-as-a-reason-for-insomnia-293777093.jpg">
            <div>Negocio</div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="col-xs-3 col-sm-3 col-md-3">
            <img
              src="https://image.shutterstock.com/z/stock-photo-sleeping-disorders-as-a-reason-for-insomnia-293777093.jpg">
            <div>Negocio</div>
          </div>
          <div class="col-xs-3 col-sm-3 col-md-3">
            <img
              src="https://image.shutterstock.com/z/stock-photo-sleeping-disorders-as-a-reason-for-insomnia-293777093.jpg">
            <div>Negocio</div>
          </div>
          <div class="col-xs-3 col-sm-3 col-md-3">
            <img
              src="https://image.shutterstock.com/z/stock-photo-sleeping-disorders-as-a-reason-for-insomnia-293777093.jpg">
            <div>Negocio</div>
          </div>
          <div class="col-xs-3 col-sm-3 col-md-3">
            <img
              src="https://image.shutterstock.com/z/stock-photo-sleeping-disorders-as-a-reason-for-insomnia-293777093.jpg">
            <div>Negocio</div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="col-xs-3 col-sm-3 col-md-3">
            <img
              src="https://image.shutterstock.com/z/stock-photo-sleeping-disorders-as-a-reason-for-insomnia-293777093.jpg">
            <div>Negocio</div>
          </div>
          <div class="col-xs-3 col-sm-3 col-md-3">
            <img
              src="https://image.shutterstock.com/z/stock-photo-sleeping-disorders-as-a-reason-for-insomnia-293777093.jpg">
            <div>Negocio</div>
          </div>
          <div class="col-xs-3 col-sm-3 col-md-3">
            <img
              src="https://image.shutterstock.com/z/stock-photo-sleeping-disorders-as-a-reason-for-insomnia-293777093.jpg">
            <div>Negocio</div>
          </div>
          <div class="col-xs-3 col-sm-3 col-md-3">
            <img
              src="https://image.shutterstock.com/z/stock-photo-sleeping-disorders-as-a-reason-for-insomnia-293777093.jpg">
            <div>Negocio</div>
          </div>
        </div>
      </div>

      <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#nuevosNegocios" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#nuevosNegocios" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>
    <!--<div>
      <div>
        <img src="../../assets/imagenes/imagenSeisNosotros.PNG" alt="negocio1" />
        <h3>Negocio</h3>
      </div>
      <div>
        <img src="../../assets/imagenes/imagenSeisNosotros.PNG" alt="negocio1" />
        <h3>Negocio</h3>
      </div>
      <div>
        <img src="../../assets/imagenes/imagenSeisNosotros.PNG" alt="negocio1" />
        <h3>Negocio</h3>
      </div>
    </div> -->
  </div>

  <div id="articulosDiv">
    <h3>Artículos</h3>
    <div class="articulosDiv_">
      <div class="articulosDiv_sec">
        <img src="../../assets/imagenes/imagenSieteNosotros.PNG" alt="eventos" />
        <div class="btnArticulos"><button>Eventos</button></div>
      </div>
      <div class="articulosDiv_sec">
        <img src="../../assets/imagenes/imagenSieteNosotros.PNG" alt="tendencias" />
        <div class="btnArticulos"><button>Tendencias</button></div>
      </div>
    </div>
    <div class="articulosDiv_">
      <div class="articulosDiv_sec">
        <img src="../../assets/imagenes/imagenSieteNosotros.PNG" alt="recomendaciones" />
        <div class="btnArticulos"><button class="btnArticulos">Recomendaciones</button></div>
      </div>
      <div class="articulosDiv_sec">
        <img src="../../assets/imagenes/imagenSieteNosotros.PNG" alt="negocios" />
        <div class="btnArticulos"><button>Negocios</button></div>
      </div>
    </div>
  </div>

  <div id="preguntasFrecuentesDiv">
    <h3 id="preguntasFrecuentesH3">Preguntas Frecuentes</h3>
    <div class="accordion" id="accordionExample">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h2 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
              aria-expanded="true" aria-controls="collapseOne">
              <h6>¿Cómo funciona Toluca la Bella?</h6>
            </button>
          </h2>
        </div>
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">
            Para usar Toluca la Bella, puedes buscar negocios por nombre, categoría, ubicación, y más. También
            puedes
            leer reseñas de otros usuarios, ver fotos de los negocios y ponerte en contacto con ellos directamente a
            través de la plataforma.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h2 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo"
              aria-expanded="false" aria-controls="collapseTwo">
              <h6>¿Cuánto cuesta registrar mi negocio en Toluca la Bella?</h6>
            </button>
          </h2>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
          <div class="card-body">
            Registrar tu negocio en Toluca la Bella es completamente gratuito.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingThree">
          <h2 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree"
              aria-expanded="false" aria-controls="collapseThree">
              <h6>¿Qué áreas cubre Toluca la Bella?</h6>
            </button>
          </h2>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
          <div class="card-body">
            Toluca la Bella se enfoca principalmente en negocios ubicados en la ciudad de Toluca y sus alrededores.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingOne_">
          <h2 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne_"
              aria-expanded="true" aria-controls="collapseOne_">
              <h6>¿Cómo puedo contactar con un negocio?</h6>
            </button>
          </h2>
        </div>
        <div id="collapseOne_" class="collapse" aria-labelledby="headingOne_" data-parent="#accordionExample">
          <div class="card-body">
            Puedes contactar con un negocio directamente desde su página de perfil utilizando los datos de contacto
            proporcionados, como el número de teléfono, la dirección de correo electrónico o el formulario de
            contacto.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTwo_">
          <h2 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo_"
              aria-expanded="false" aria-controls="collapseTwo_">
              <h6>¿Cómo puedo crear una cuenta en Toluca la Bella?</h6>
            </button>
          </h2>
        </div>
        <div id="collapseTwo_" class="collapse" aria-labelledby="headingTwo_" data-parent="#accordionExample">
          <div class="card-body">
            Solo necesitas crear una cuenta y proporcionar información básica sobre tu negocio, como el nombre, la
            dirección, imágenes, el horario de atención y los servicios que ofreces. Una vez creada tu cuenta podrás
            dejar opiniones y acceder a otras funciones de la plataforma.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingThree_">
          <h2 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree_"
              aria-expanded="false" aria-controls="collapseThree_">
              <h6>¿Cómo puedo editar la información de mi negocio?</h6>
            </button>
          </h2>
        </div>
        <div id="collapseThree_" class="collapse" aria-labelledby="headingThree_" data-parent="#accordionExample">
          <div class="card-body">
            Puedes editar la información de tu negocio en cualquier momento iniciando sesión en tu cuenta y
            accediendo
            a tu perfil de negocio.
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="footer">
    <div>
      <div><span><strong>¿Eres dueño de un negocio en Toluca?</strong></span></div>
      <div><span><strong>¡Anúnciate en nuestra plataforma y aumenta tus ventas!</strong></span></div>
    </div>
    <div><button id="botonFooter">Botón</button></div>
  </div>

  <app-footer></app-footer>

</div>

<div id="WAButton"></div>