<div class="mainContainer">

  <div #categoriesContainer class="categoriesContainer divCategories">
    <ul>
      <a (click)="changeCategoryName('Peluquerias')"><li>Peluquerias</li></a>
      <a (click)="changeCategoryName('Ropa')"><li>Ropa</li></a>
      <a (click)="changeCategoryName('Computadoras')"><li>Computadoras</li></a>
      <a (click)="changeCategoryName('Ferreterias')"><li>Ferreterias</li></a>
      <a (click)="changeCategoryName('Materiales de construcción')">
        <li>Materiales de construcción</li></a>
      <a (click)="changeCategoryName('Abarrotes')"><li>Abarrotes</li></a>
      <a (click)="changeCategoryName('Farmacias')"><li>Farmacias</li></a>
      <a (click)="changeCategoryName('Hospitales')"><li>Hospitales</li></a>
      <a (click)="changeCategoryName('Veterinarias')"><li>Veterinarias</li></a>
      <a (click)="changeCategoryName('Electrónica')"><li>Electrónica</li></a>
    </ul>
  </div>

  <nav class="navbar navbar-dark bg-dark" id="navegationBar">
        <button #categoriesButton id="categoriesButton">
      <i class="fa fa-bars" aria-hidden="true"></i>
    </button>
  </nav>

  <div class="contentContainer">

    <h4 class="nombreCategoria">{{categoria}}</h4>

    <div class="negocioRow">
    <div class="negocio">
      <div class="negocioInfo">
        <img src="../../assets/imagenes/unavailable.jpg" class="negocioImage" />
        <p>Negocio name</p>
      </div>
    </div>
    <div class="negocio">
      <div class="negocioInfo">
        <img src="../../assets/imagenes/unavailable.jpg" class="negocioImage" />
        <p>Negocio name</p>
      </div>
    </div>
    <div class="negocio">
      <div class="negocioInfo">
        <img src="../../assets/imagenes/unavailable.jpg" class="negocioImage" />
        <p>Negocio name</p>
      </div>
    </div>
    <div class="negocio">
      <div class="negocioInfo">
        <img src="../../assets/imagenes/unavailable.jpg" class="negocioImage" />
        <p>Negocio name</p>
      </div>
    </div>
    <div class="negocio">
      <div class="negocioInfo">
        <img src="../../assets/imagenes/unavailable.jpg" class="negocioImage" />
        <p>Negocio name</p>
      </div>
    </div>
  </div>

  <div class="negocioRow">
    <div class="negocio">
      <div class="negocioInfo">
        <img src="../../assets/imagenes/unavailable.jpg" class="negocioImage" />
        <p>Negocio name</p>
      </div>
    </div>
    <div class="negocio">
      <div class="negocioInfo">
        <img src="../../assets/imagenes/unavailable.jpg" class="negocioImage" />
        <p>Negocio name</p>
      </div>
    </div>
    <div class="negocio">
      <div class="negocioInfo">
        <img src="../../assets/imagenes/unavailable.jpg" class="negocioImage" />
        <p>Negocio name</p>
      </div>
    </div>
    <div class="negocio">
      <div class="negocioInfo">
        <img src="../../assets/imagenes/unavailable.jpg" class="negocioImage" />
        <p>Negocio name</p>
      </div>
    </div>
    <div class="negocio">
      <div class="negocioInfo">
        <img src="../../assets/imagenes/unavailable.jpg" class="negocioImage" />
        <p>Negocio name</p>
      </div>
    </div>
  </div>

  <div class="negocioRow">
    <div class="negocio">
      <div class="negocioInfo">
        <img src="../../assets/imagenes/unavailable.jpg" class="negocioImage" />
        <p>Negocio name</p>
      </div>
    </div>
    <div class="negocio">
      <div class="negocioInfo">
        <img src="../../assets/imagenes/unavailable.jpg" class="negocioImage" />
        <p>Negocio name</p>
      </div>
    </div>
    <div class="negocio">
      <div class="negocioInfo">
        <img src="../../assets/imagenes/unavailable.jpg" class="negocioImage" />
        <p>Negocio name</p>
      </div>
    </div>
    <div class="negocio">
      <div class="negocioInfo">
        <img src="../../assets/imagenes/unavailable.jpg" class="negocioImage" />
        <p>Negocio name</p>
      </div>
    </div>
    <div class="negocio">
      <div class="negocioInfo">
        <img src="../../assets/imagenes/unavailable.jpg" class="negocioImage" />
        <p>Negocio name</p>
      </div>
    </div>
  </div>

  </div>

</div>