<!--Reactive forms are best practice rather than template-driven forms-->
<h1>Iniciar sesión</h1>
<div>
    <form [formGroup]="formGroup" action="" method="post" (ngSubmit)="onSubmit(formGroup)">
        <label for="usuario"><a class="mandatoryPoint">*</a>Usuario</label>:
        <input type="text" class="form-control" formControlName="usuario" id="usuario" name="usuario" aria-describedby="emailHelp" placeholder="Email o celular" />
        <p id="usuarioValidacion" class="mensajes">{{usuarioValidacion}}</p>
        <label for="password"><a class="mandatoryPoint">*</a>Contraseña</label>:
        <input type="password" class="form-control" formControlName="password" id="password" name="password" placeholder="Contraseña" />
        <p id="passwordValidacion" class="mensajes">{{passwordValidacion}}</p>
        <button type="submit">Entrar</button>
    </form>
    <p><a routerLink="/reset-password">¿Olvidaste la contraseña?</a></p>
    <p>¿Aún no te has registrado?<a routerLink="/registro">Registrate aquí</a></p>
</div>

<ngx-spinner>
    <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>