<div *ngIf="loading">
    <div id="nuevosNegociosDiv" *ngIf="chunks.length > 0">
        <h2>Negocios Nuevos</h2>
        <div id="nuevosNegocios" class="carousel slide" data-ride="carousel">

            <ul *ngIf="chunks" class="carousel-indicators">
                <li *ngFor="let _ of [].constructor(chunks.length); index as i" data-target="#nuevosNegocios"
                    data-slide-to="i" [ngClass]="{'active': i === 0}"></li>
            </ul>

            <ngx-spinner name="spinnerNuevos" bdOpacity=0.9 bdColor="#f4f4f9" size="small" color="black"
                type="ball-spin" [fullScreen]="false">
            </ngx-spinner>

            <div *ngIf="chunks" class="container carousel-inner no-padding">
                <div class="carousel-item" [ngClass]="{'active': i === 0}"
                    *ngFor="let _ of [].constructor(chunks.length); index as i">
                    <div class="containerNegocios">
                        <div class="negocio" *ngFor="let negocio of chunks[i]">
                            <div [routerLink]="['/directorio-de-negocios'
                            , negocio.subcategoria.categoria.nombre
                            , negocio.subcategoria.nombre
                            , negocio.idNegocio]">
                                <img [ngStyle]="gettingWithOfImage(chunks[i])" *ngIf="negocio.imagenes.length > 0"
                                    src={{apiEndPoint+imagenesBasePath+negocio.imagenes[0].nombre}} />
                                <img [ngStyle]="gettingWithOfImage(chunks[i])" *ngIf="negocio.imagenes.length == 0"
                                    src="../../assets/imagenes/unavailable.jpg" />
                                <div>{{negocio.nombrEmpresa}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#nuevosNegocios" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#nuevosNegocios" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </div>
</div>