#nuevosNegociosDiv {
    text-align: center;
}

.containerNegocios{
    display: flex;
}

.negocio{
    background-color: none;
    padding: 30px;
    margin: 10px;
}

.negocio:hover{
    cursor: pointer;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 20px;
    width: 20px;
    outline: black;
    background-size: 100%, 100%;
    border-radius: 50%;
    border: 0px solid #a55233;
    background-image: none;
}

.carousel-control-next-icon:after {
    content: '>';
    font-size: 35px;
    font-weight: bolder;
    color: #a55233;
}

.carousel-control-prev-icon:after {
    content: '<';
    font-size: 35px;
    font-weight: bolder;
    color: #a55233;
}

.carousel-indicators li {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin: 10px;
    text-indent: 0;
    cursor: pointer;
    border: none;
    /*border-radius: 50%;*/
    background-color: rgb(218, 183, 143);
    ;
    /*box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.5);*/
}

.carousel-indicators .active {
    width: 8px;
    height: 8px;
    margin: 10px;
    background-color: #a55233;
}

img{
    max-height: 293px;
    max-width: 399px;
}

@media (max-width:815px) {}

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .negocio {
        width: 100%;
        margin: 0px;
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .negocio {
        width: 100%;
        margin: 0px;
    }
}

/* Medium devices (tablets, less than 992px) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .negocio {
        width: 100%;
        margin: 10px 0px;
    }
}

/* Large devices (desktops, less than 1200px) */
@media (min-width: 992px) and (max-width: 1199.98px) {

}

/*  X-Large devices (large desktops, less than 1400px) */
@media (min-width: 1200px) and (max-width: 1399.98px) {

}

/* XX-Large devices (larger desktops) */
@media (min-width: 1400px) {

}