<div id="mainContainer">
    <div>
        <div class="card mb-4 shadow-sm">
            <div class="card-header header">
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="my-0 font-weight-normal">Mis Negocios</h4>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-center" id="tablestore2">
                <form class="form-inline">
                    <div class="col-auto">
                        <label class="sr-only" for="lblHeaderNegocio">Buscar Negocio</label>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fas fa-building"></i>
                                </div>
                            </div>
                            <input type="text" class="form-control" id="lblHeaderNegocio" name="lblHeaderNegocio"
                                placeholder="Buscar Negocio" autocomplete="off" [(ngModel)]="filterText.negocio">
                        </div>
                    </div>
                </form>
            </div>

            <div class="card-body" id="tablestore">
                <table class="table table-striped table-hover ">
                    <caption>Listado de Negocios</caption>
                    <thead>
                        <tr class="row">
                            <th scope="col" class="headerTable col-md-2"><strong>Id</strong></th>
                            <th scope="col" class="headerTable col-md-4"><strong>Nombre</strong></th>
                            <th scope="col" class="headerTable col-md-2"><strong>Teléfono</strong></th>
                            <th scope="col" class="headerTable col-md-1"><strong>Activo</strong></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="row" *ngFor="let item of collection.data | paginate: config; index as i">
                            <td class="col-md-2">
                                {{item.idNegocio}}
                            </td>
                            <td class="col-md-4">{{item.nombrEmpresa}}</td>
                            <td class="col-md-2">{{item.telefono}}</td>
                            <td class="col-md-1">{{item.valid}}</td>

                            <td class="col-md-1">
                                <!--*ngIf="userAuth.varDto.editTda"-->
                                <a class="icon-s" data-toggle="tooltip" title="Editar"
                                    (click)="openUpdate(modalEditNegocio, item)"> <em
                                        class="fa fa-edit fa-2x"></em></a>
                                <a class="icon-s" data-toggle="tooltip" title="Imágenes"
                                    (click)="openUpdate(modalshowImage, item)"> <em
                                        class="fas fa-images fa-2x"></em></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <hr><br>
                <div class="row">
                    <div class=" col-md-2 text-left">
                        <div class="form-inline">
                            <label for="comboFiltro">Ver por Página&nbsp;</label>
                            <select name="optionSelect" id="comboFiltro" class="form-control pagination-show"
                                [(ngModel)]="config.itemsPerPage">
                                <option [ngValue]="item" *ngFor="let item of optionSelect">{{item}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-8 text-center">
                        <pagination-controls [responsive]="true" [nextLabel]="labels.nextLabel"
                            [previousLabel]="labels.previousLabel" [maxSize]="maxSize" [directionLinks]="true"
                            [autoHide]="false" (pageChange)="onPageChange($event)">
                        </pagination-controls>
                    </div>
                    <div class="col-md-2 text-right">
                        Total:&nbsp;{{collection.count}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<ng-template #modalshowImage let-modal>
    <div class="modal-header">
        <h4 class="modal-title" [hidden]="form">Listado Imágenes</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class=" container-fluid">
            <div class="" *ngFor="let imagen of imagenes">
                <div class="col-md-12">
                    <img src={{apiEndPoint+imagenesBasePath+imagen.nombre}} class="imagenFluid" />
                    <label for="checkValid"><a class="required">*</a>¿Es válida?</label>
                    <input type="checkbox" class="" id="checkValid" [(ngModel)]="imagen.valid" />
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-md-12 text-center">
                    <button type="button" class="btn btn-info btn-sm" (click)="cancelModal()">Cancelar</button>&nbsp;
                    <button type="button" class="btn btn-warning btn-sm" (click)="updateImages()">Actualizar</button>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #modalEditNegocio let-modal>
    <div class="modal-header text-center">
        <h4 class="modal-title" [hidden]="form">Actualizar Negocio</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class=" container-fluid">
            <div class="row">
                <div class=" col-md-12 col-lg-12">
                    <p class="required">*Campo Obligatorio</p>
                </div>
                <div class="form-group col-md-12">

                    <fieldset>
                        <legend>Datos Generales</legend>
                        <label for="nombreCliente"><a class="required">*</a>Tu nombre</label>
                        <input class="form-control" id="nombreCliente" rows="3" name="nombreCliente" type="text"
                            placeholder="Nombre" [(ngModel)]="negocio.nombre" (input)="countChars($event)"
                            maxlength="{{maxNombre}}">
                        <p class="conteoCaracteres">{{conteoNombre}}/{{maxNombre}}</p>
                        <p id="nombreClienteValidacion" class="mensajes"></p>

                        <label for="telefonoMovil"><a class="required">*</a>Teléfono móvil</label>
                        <input class="form-control" id="telefonoMovil" rows="3" name="telefonoMovil" type="text"
                            placeholder="Teléfono móvil" [(ngModel)]="negocio.telefono">
                        <p id="telefonoMovilValidacion" class="mensajes"></p>

                        <label for="correo"><a class="required">*</a>Correo electrónico</label>
                        <input class="form-control" id="correo" rows="3" type="text" name="correo"
                            placeholder="Correo electrónico" [(ngModel)]="negocio.email">
                        <p id="correoValidacion" class="mensajes"></p>

                        <label for="nombreNegocio"><a class="required">*</a>Nombre comercial</label>
                        <input class="form-control" id="nombreNegocio" rows="3" name="nombreNegocio" type="text"
                            placeholder="Nombre comercial" [(ngModel)]="negocio.nombrEmpresa"
                            (input)="countChars($event)" maxlength="{{maxNombreComercial}}">
                        <p class="conteoCaracteres">{{conteoNombreComercial}}/{{maxNombreComercial}}</p>
                        <p id="nombreNegocioValidacion" class="mensajes"></p>

                        <label for="descripcionComercial"><a class="required">*</a>Descripción comercial</label>
                        <textarea class="form-control" rows="3" id="descripcionComercial" name="descripcionComercial"
                            type="text" placeholder="Descripción comercial" [(ngModel)]="negocio.descripcion"
                            (input)="countChars($event)" maxlength="{{maxDescripcionComercial}}"></textarea>
                        <p class="conteoCaracteres">{{conteoDescripcionComercial}}/{{maxDescripcionComercial}}</p>
                        <p id="descripcionComercialValidacion" class="mensajes"></p>
                    </fieldset>

                    <fieldset>
                        <legend>Ubicación</legend>
                        <label for="municipio"><a class="required">*</a>Municipio</label>
                        <select name="municipio" id="municipio" class="form-control" [(ngModel)]="municipioSelected"
                            (ngModelChange)="municipioHasChanged($event)">
                            <option *ngFor="let municipio of municipios" [ngValue]="municipio">{{municipio}}</option>
                        </select>

                        <label for="colonia"><a class="required">*</a>Colonia</label>
                        <select name="colonia" id="colonia" class="form-control" [(ngModel)]="coloniaSelected"
                            (ngModelChange)="coloniaHasChanged($event)">
                            <option *ngFor="let colonia of colonias" [ngValue]="colonia.colonia">{{colonia.colonia}}
                            </option>
                        </select>

                        <label for="codigoPostal"><a class="required">*</a>Código postal</label>
                        <select name="codigoPostal" id="codigoPostal" class="form-control"
                            [(ngModel)]="codigoPostalSelected">
                            <option *ngFor="let item of colonia" [ngValue]="item.codigo_postal">{{item.codigo_postal}}
                            </option>
                        </select>

                        <label for="calle"><a class="required">*</a>Calle</label>
                        <input class="form-control" id="calle" rows="3" name="calle" type="text" placeholder="Calle"
                            [(ngModel)]="negocio.calle" (input)="countChars($event)" maxlength="{{maxCalle}}">
                        <p class="conteoCaracteres">{{conteoCalle}}/{{maxCalle}}</p>
                        <p id="calleValidacion" class="mensajes"></p>

                        <label for="numero"><a class="required">*</a>Número exterior</label>
                        <input class="form-control" id="numero" rows="3" name="numero" type="text" placeholder="Número exterior"
                            [(ngModel)]="negocio.numeroExterior" (input)="countChars($event)" maxlength="{{maxNumero}}">
                        <p class="conteoCaracteres">{{conteoNumero}}/{{maxNumero}}</p>
                        <p id="numeroValidacion" class="mensajes"></p>
                    </fieldset>

                    <label for="checkValid"><a class="required">*</a>¿Es válido?</label>
                    <input type="checkbox" class="form-control" id="checkcpall" [(ngModel)]="negocio.valid" />
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="col-md-12 text-center">
            <div id="mensajes" class="mensajes"></div>
            <button type="button" class="btn btn-info btn-sm" (click)="cancelModal()">Cancelar</button>&nbsp;
            <button type="button" class="btn btn-warning btn-sm" (click)="updateNegocio()">Actualizar</button>
        </div>
    </div>
</ng-template>

<ngx-spinner>
    <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>