<div class="container">
 <h2>ICONS</h2>
 <span style="color: Mediumslateblue;">
 <i class="fa fa-twitter fa-5x"></i>
</span>
 <i class="fa fa-facebook fa-5x"></i>
 <i class="fa fa-instagram fa-5x"></i>
 <i class="fa fa-linkedin fa-5x"></i>
 <span style="color: Tomato">
 <i class="fa fa-id-card fa-5x" aria-hidden="true"></i>
 </span>
 <i class="fa fa-user-circle fa-5x" aria-hidden="true"></i>

 <i class='fas fa-address-book'></i>
<i class='fas fa-address-book' style='font-size:24px'></i>
<i class='fas fa-address-book' style='font-size:36px'></i>
<i class='fas fa-address-book' style='font-size:48px;color:red'></i>

<!-- https://fontawesome.com/v4/ -->

<i class="fa fa-adjust"></i>
<i class="fa fa-adjust" style="font-size:24px"></i>
<i class="fa fa-adjust" style="font-size:36px"></i>
<i class="fa fa-adjust" style="font-size:48px;color:red"></i>

 <!-- CON EL REGISTRO DEL CORREO A FONT AWOSOME -->
 <i class="fab fa-apple-pay fa-5x"></i>
<i class="fas fa-bell fa-5x"></i>

<span style="color: green">
<i class="fa fa-syringe"></i>
</span>

<h2>FONTS</h2>

<p class="text-start">Start aligned text on all viewport sizes.</p>
<p class="text-center">Center aligned text on all viewport sizes.</p>
<p class="text-end">End aligned text on all viewport sizes.</p>

<h3>What are the default Bootstrap 4 text sizes?</h3>
<ul class="list-group">
  <li class="list-group-item">Display 1 (6rem = 90px)</li>
  <li class="list-group-item">Display 2 (5.5rem = 82.5px)</li>
  <li class="list-group-item">Display 3 (4.5rem = 67.5px)</li>
  <li class="list-group-item">Display 4 (3.5rem = 52.5px)</li>
  <li class="list-group-item">h1 (2.5rem = 40px)</li>
  <li class="list-group-item">h2 (2rem = 32px)</li>
  <li class="list-group-item">h3 (1.75rem = 28px)</li>
  <li class="list-group-item">h4 (1.5rem = 24px)</li>
  <li class="list-group-item">h5 (1.25rem = 20px)</li>
  <li class="list-group-item">h6 (1rem = 16px)</li>
  <li class="list-group-item">p (1rem = 16px)</li>
</ul>



<p>You can use the mark tag to <mark>highlight</mark> text.</p>
<p><del>This line of text is meant to be treated as deleted text.</del></p>
<p><s>This line of text is meant to be treated as no longer accurate.</s></p>
<p><ins>This line of text is meant to be treated as an addition to the document.</ins></p>
<p><u>This line of text will render as underlined.</u></p>
<p><small>This line of text is meant to be treated as fine print.</small></p>
<p><strong>This line rendered as bold text.</strong></p>
<p><em>This line rendered as italicized text.</em></p>

<p class="explicacionEstilosLetra">Since not all fonts are available on all computers (there are thousands of fonts, and most are not free), CSS provides a system of fallbacks. You list the font that you want first, then any fonts that might fill in for the first if it is unavailable, and you should end the list with a generic font, of which there are five: serif, sans-serif, monospace, cursive and fantasy.</p>

<p class="fontFamilyPropiedad">font-family: family-name|generic-family|initial|inherit;</p>

</div>