.btn{
    margin: 10px;
}

.mandatoryPoint, .mensajes{
    color: red;
    font-weight: bold;
}

.conteoCaracteres{
    color: #3b2002;
    margin-bottom: 0px;
}

a:hover{
    cursor: pointer;
}

.categoryImage{
    max-width: 30%;
    display: block;
}