<h2>{{categoria}} - {{subcategoria}}</h2>
<hr />
<div *ngIf="negocioObj" id="seccion1">
    <div>
        <p>{{categoria}}/{{subcategoria}}/{{negocioObj.nombrEmpresa}}</p>
    </div>
</div>

<div id="infoSubDiv">
    <ngx-spinner name="spinnerDetalleNegocio" bdOpacity=0.9 bdColor="#f4f4f9" size="small" color="black"
        type="ball-spin" [fullScreen]="false">
    </ngx-spinner>
</div>

<div *ngIf="negocioObj" id="seccion2">

    <div>
        <div id="seccion2_B">
            <div id="seccion2_A">
                <div *ngIf="negocioObj.imagenes.length > 0">
                    <img src={{apiEndPoint+imagenesBasePath+negocioObj.imagenes[0].nombre}} class="imagenFluid" />
                </div>
                <div *ngIf="negocioObj.imagenes.length == 0">
                    <img src="../../assets/imagenes/unavailable.jpg" class="imagenFluid" />
                </div>
                <div>
                    <h1>{{negocioObj.nombrEmpresa}}</h1>
                    <p>{{negocioObj.descripcion}}</p>
                </div>
            </div>
        </div>
    </div>
    <div id="contactoInfo" *ngIf="negocioObj">
        <h4>{{negocioObj.ubicacion.municipio}}</h4>
        <h4>{{negocioObj.ubicacion.colonia}}</h4>
        <h4>Código Postal: {{negocioObj.ubicacion.codigoPostal}}</h4>
        <h4>{{negocioObj.telefono}}</h4>
        <h2 class="whats">
            <a href="https://api.whatsapp.com/send?phone={{negocioObj.telefono}}">WhatsApp</a>
        </h2>
    </div>
</div>

<hr />

<div *ngIf="negocioObj">
    <div *ngIf="negocioObj.imagenes.length > 1">
        <h4>Galeria</h4>
    
        <div id="demo" class="carousel slide" data-ride="carousel">
    
            <ul class="carousel-indicators">
                <li *ngFor="let _ of [].constructor(chunks.length); index as i" data-target="#demo" data-slide-to="i"
                    [ngClass]="{'active': i === 0}"></li>
            </ul>
    
            <div *ngIf="chunks" class="container carousel-inner no-padding">
                <div class="carousel-item" [ngClass]="{'active': i === 0}" *ngFor="let _ of [].constructor(chunks.length); index as i">
                    <div class="containerGaleria">
                        <div *ngFor="let imagen of chunks[i]">
                            <img [ngStyle]="gettingWithOfImage(chunks[i])"
                                src={{apiEndPoint+imagenesBasePath+imagen.nombre}}>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </div>
</div>



<hr />

<div id="seccion3">

    <app-comentarios-socios-comerciales></app-comentarios-socios-comerciales>
    <hr />
    <app-negocios-relacionados></app-negocios-relacionados>

</div>
<div id="footer">
    <span>ENCUENTRA, DESCUBRE Y<strong> CONECTA</strong> CON LOS <strong>NEGOCIOS</strong> DE <strong>
            TOLUCA</strong></span>
    <button id="botonFooter">Botón</button>
</div>
<app-footer></app-footer>
<!--<app-ventana-modal-info [tituloModal]="tituloModal" [mensajeModal]="mensajeModal"></app-ventana-modal-info>-->