<div *ngIf="negocioObj">
    <h1>{{negocioObj.nombrEmpresa}}</h1>
    <p>{{negocioObj.descripcion}}</p>
    <div *ngIf="negocioObj.imagenes.length > 0">
        <div *ngFor="let imagen of negocioObj.imagenes">
            <img src={{apiEndPoint+imagenesBasePath+imagen.nombre}} class="negocioImage" />
        </div>
    </div>
    <div *ngIf="negocioObj.imagenes.length == 0">
        <img src="../../assets/imagenes/unavailable.jpg" class="negocioImage" />
    </div>
    <h2>{{negocioObj.telefono}}</h2>
    <h2>{{negocioObj.ubicacion.municipio}}</h2>
    <h2>{{negocioObj.ubicacion.colonia}}</h2>
    <h2>Código Postal: {{negocioObj.ubicacion.codigoPostal}}</h2>
    <h2>Dirección: {{negocioObj.calle}} {{negocioObj.numeroExterior}}</h2>
</div>

<app-ventana-modal-info [tituloModal]="tituloModal"
[mensajeModal]="mensajeModal"></app-ventana-modal-info>