<div id="principalContainer">
    <h3><strong>MARKETING DIGITAL EN UN DIRECTORIO DE NEGOCIOS</strong></h3>
    <div id="principalContainer_">
        <div class="principalContainerInfo">
            <h4>La herramienta esencial para negocios locales</h4>
            <p><strong>Toluca la Bella</strong> ofrece una plataforma ideal para <strong>negocios locales</strong> que
                buscan aprovechar los beneficios del <strong>marketing digital</strong> y la <strong>publicidad en un
                    directorio de negocios</strong>.</p>
            <p>Al unirte a nuestro directorio, tu negocio ganará <strong>mayor visibilidad en línea</strong>, lo que
                facilitará que potenciales clientes te encuentren fácilmente.</p>
            <img src="../../assets/imagenes/11.png" alt="catedral interior" />
        </div>
        <div>
            <img src="../../assets/imagenes/12.png" alt="laguna del nevado toluca" />
            <h4>Atrae más clientes ideales y aumenta tus ventas</h4>
            <p>Con Toluca la Bella, tendrás acceso a una audiencia específica y segmentada, lo que incrementa las
                oportunidades de atraer clientes interesados en tus productos o servicios.</p>
        </div>
        <div>
            <h4>Impulsa el crecimiento de tu negocio</h4>
            <p>La <strong>publicidad dirigida</strong> y las <strong>estrategias de marketing digital</strong> que
                ofrecemos ayudan a mejorar la presencia de tu negocio y aumentar el número de <strong>clientes
                    potenciales</strong> que visiten tu negocio y, en última instancia, <strong>impulsar tus
                    ventas</strong>.</p>
            <p>Únete a <strong>Toluca la Bella</strong> y descubre cómo podemos ayudarte a crecer en el mundo digital.
            </p>
            <img src="../../assets/imagenes/23.png" alt="oficina antigua" />
        </div>
    </div>
    
    <div id="footer">
        <div>
        <div><span><strong>CONECTA CON MILES DE CLIENTES POTENCIALES EN TOLUCA.</strong></span></div>
        <div><span><strong>Regístrate y anuncia tu negocio.</strong></span></div>
        </div>
        <div><button id="botonFooter" [routerLink] = "['/registrate']" type="button" class="btn btn-secondary">Crear perfil</button></div>
    </div>

</div>