<div id="mainContainer">
    <div id="seccion1">
        <div>
            <img src="../../assets/imagenes/imagenCuatroNosotros.PNG" alt="tituloUno" />
        </div>
        <div>
            <div id="seccion1_B">
                <div>Recientes</div>
                <div id="seccion6">
                    <div id="seccion6_">
                        <div>
                            <div class="dCategorias">
                                <div>
                                    <img src="../../assets/imagenes/imagenSeisNosotros.PNG" />
                                </div>
                                <div>
                                    <h2>Categoría</h2>
                                    <h3>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero quisquam dolore
                                        exercitationem voluptates vel porro unde reprehenderit magni? Voluptatem iure
                                        officiis magnam fuga qui ratione nobis, laborum eos provident doloremque.</h3>
                                    <p>Fecha</p>
                                </div>
                            </div>
                            <div class="dCategorias">
                                <div>
                                    <img src="../../assets/imagenes/imagenSeisNosotros.PNG" />
                                </div>
                                <div>
                                    <h2>Categoría</h2>
                                    <h3>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero quisquam dolore
                                        exercitationem voluptates vel porro unde reprehenderit magni? Voluptatem iure
                                        officiis magnam fuga qui ratione nobis, laborum eos provident doloremque.</h3>
                                    <p>Fecha</p>
                                </div>
                            </div>
                            <div class="dCategorias">
                                <div>
                                    <img src="../../assets/imagenes/imagenSeisNosotros.PNG" />
                                </div>
                                <div>
                                    <h2>Categoría</h2>
                                    <h3>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero quisquam dolore
                                        exercitationem voluptates vel porro unde reprehenderit magni? Voluptatem iure
                                        officiis magnam fuga qui ratione nobis, laborum eos provident doloremque.</h3>
                                    <p>Fecha</p>
                                </div>
                            </div>
                            <div class="botonS6Div"><button>Botón</button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="seccion2">
        <div>
            <div id="seccion2_Div_1">
                <h1>NOTICIA</h1>
                <div id="seccion2_Div">
                    <p>Fecha</p>
                    <h2>Categoría</h2>
                </div>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut qui, iste laborum illum debitis
                    repudiandae accusantium dolores nulla! Enim aperiam reiciendis nisi reprehenderit, praesentium
                    veritatis ducimus sint eligendi id sit.</p>
            </div>
            <div id="sutituloDiv">
                <div id="sutituloH2">
                    <div>
                        <h2>Sutitulo</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem nesciunt fugiat libero,
                            accusamus ipsa repellat consectetur, pariatur mollitia reiciendis, quisquam aperiam suscipit
                            quis cumque fuga molestiae voluptate praesentium quam esse.</p>
                    </div>
                    <div>
                        <img src="../../assets/imagenes/imagenCuatroNosotros.PNG" />
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="seccion2_B">
                <div><img src="../../assets/imagenes/imagenSieteNosotros.PNG" /></div>
                <div class="seccionTitle">Negocios</div>
            </div>
            <div class="seccion2_B">
                <div><img src="../../assets/imagenes/imagenSieteNosotros.PNG" /></div>
                <div class="seccionTitle">Recomendaciones</div>
            </div>
            <div class="seccion2_B">
                <div><img src="../../assets/imagenes/imagenSieteNosotros.PNG" /></div>
                <div class="seccionTitle">Eventos</div>
            </div>
            <div class="seccion2_B">
                <div><img src="../../assets/imagenes/imagenSieteNosotros.PNG" /></div>
                <div class="seccionTitle">Tendencias</div>
            </div>
        </div>
    </div>
    <div id="seccion3">
        <div>
            <h3>Sutitulo</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam, dolore doloremque, ducimus autem animi
                fugit iste magnam repudiandae quo soluta porro voluptates maiores similique totam temporibus alias
                obcaecati explicabo dolores?</p>
            <img id="noticiasSeccion3Img" src="../../assets/imagenes/noticiasInternas.PNG" alt="noticias Internas" />
        </div>
        <div id="seccion3Div_B">
            <div><span id="spanSeccion3">Destaca Tu Negocio en Toluca la Bella</span></div>
            <div><button>Botón</button></div>
        </div>
    </div>
    <div id="seccion4">
        <div id="seccion4_">
            <h2><strong>También podría gustarte</strong></h2>
            <div class="carousel slide" id="tendencias" data-ride="carousel">
                <ul class="carousel-indicators">
                    <li data-target="#tendencias" data-slide-to="0" class="active"></li>
                    <li data-target="#tendencias" data-slide-to="1"></li>
                    <li data-target="#tendencias" data-slide-to="2"></li>
                    <li data-target="#tendencias" data-slide-to="3"></li>
                </ul>

                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="interes">
                            <div>
                                <img class="interesImg" src="../../assets/imagenes/imagenCuatroNosotros.PNG" />
                                <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos nobis eaque dolores qui
                                    exercitationem,
                                    officiis nemo dicta debitis officia commodi, est, ipsum doloribus? Eaque corrupti
                                    molestiae
                                    nisi,
                                    consequatur ullam sapiente.</h3>
                                <p>Fecha</p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="interes">
                            <div>
                                <img class="interesImg" src="../../assets/imagenes/imagenCuatroNosotros.PNG" />
                                <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos nobis eaque dolores qui
                                    exercitationem,
                                    officiis nemo dicta debitis officia commodi, est, ipsum doloribus? Eaque corrupti
                                    molestiae
                                    nisi,
                                    consequatur ullam sapiente.</h3>
                                <p>Fecha</p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="interes">
                            <div>
                                <img class="interesImg" src="../../assets/imagenes/imagenCuatroNosotros.PNG" />
                                <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos nobis eaque dolores qui
                                    exercitationem,
                                    officiis nemo dicta debitis officia commodi, est, ipsum doloribus? Eaque corrupti
                                    molestiae
                                    nisi,
                                    consequatur ullam sapiente.</h3>
                                <p>Fecha</p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="interes">
                            <div>
                                <img class="interesImg" src="../../assets/imagenes/imagenCuatroNosotros.PNG" />
                                <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos nobis eaque dolores qui
                                    exercitationem,
                                    officiis nemo dicta debitis officia commodi, est, ipsum doloribus? Eaque corrupti
                                    molestiae
                                    nisi,
                                    consequatur ullam sapiente.</h3>
                                <p>Fecha</p>
                            </div>
                        </div>
                    </div>
                </div>


                <a class="carousel-control-prev" href="#tendencias" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#tendencias" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>
            </div>
        </div>
    </div>
    <div id="footer">
        <div>
        <div><span><strong>Únete a Toluca la Bella</strong></span></div>
        <div><span>Donde Tú Negocio Encuentra Oportunidades</span></div>
        </div>
        <div><button id="botonFooter">Botón</button></div>
    </div>
    <app-footer></app-footer>
</div>