<nav id="navegationBar">
    <div #categoriesButton id="categoriesButton">
        <img id="tolucaLaBellaImg" 
        src="../../assets/imagenes/toluca-la-bella.png" alt="toluca-la-bella-logo" />
    </div>
</nav>
<div #categoriesContainer class="divCategories">
    <div class="ul" #categories (click)="changingColorSelectedCategori($event)">
        <a routerLink="/inicio"><li>Inicio</li></a>
        <a routerLink="/directorio-de-negocios"><li>Directorio</li></a>
        <!--<a routerLink="/sobre-nosotros"><li>Nosotros</li></a>-->
        <!--<a routerLink="/noticias-de-toluca"><li>Noticias</li></a>-->
        <a routerLink="/registrate"><li>Registro</li></a>
        <!--<a routerLink="/marketing-digital"><li>Marketing Digital</li></a>-->
        <a routerLink="/panel-socios"><li>Panel Socios</li></a>
    </div>
</div>
