
<div class="login-style ">
  <div class="col align-self-center col-md-4 offset-md-4 login-center" >
      <div>
        <h3 class="text-center" style="color: inherit;">Registrar</h3>
        <br>
      </div>
      <div class="card" >
        <div class="card-body">
          <div class="login-form" >
            <h4 class="text-center">
              <i class="fa fa-user-circle fa fa-4x" aria-hidden="true" style="color: #ef3b3a"></i>
            </h4>
            <br>
            <form [formGroup]="formularioRegistro" (ngSubmit)="onSubmit()">

              <div class="form-group">
                <input type="text" style="border-radius: 0px; background-color: #f2f2f2;" formControlName="email" placeholder="Email" class="form-control" [ngClass]="{ 'is-invalid': enviado && f.email.errors }" />
                <div *ngIf="enviado && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Campo requerido</div>
                    <div *ngIf="f.email.errors.email">Email invalido.</div>
                </div>
                <br>
                <div class="form-group">
                  <input type="password" style="border-radius: 0px; background-color: #f2f2f2;" formControlName="password"  placeholder="Contraseña" class="form-control" [ngClass]="{ 'is-invalid': enviado && f.password.errors }" />
                  <div *ngIf="enviado && f.password.errors" class="invalid-feedback">
                      <div *ngIf="f.password.errors.required">Campo requerido</div>
                  </div>
              </div>
                <button class="btn btn-login btn-block m-b-30 m-t-30">Registrar</button>
            </div>
            </form>
        </div>
      </div>
    </div>
  </div>

</div>